@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

/* General */

body {
  font-family: 'Roboto Mono', monospace;
  background-color: white;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
  height: fit-content;
}

/* Buttons */

button,
button:active {
background-color: rgb(145, 183, 220);
border: none;
width: 34px;
height: 32px;
border-radius: 100%;
text-align: center;
color: black;

box-shadow: 0.2em 0.2em rgb(53, 85, 135);
-webkit-box-shadow: 0.2em 0.2em rgb(53, 85, 135);
-moz-box-shadow: 0.2em 0.2em rgb(53, 85, 135);
}

button:focus {
translate: 0.2em 0.2em;

box-shadow: 0.2em 0.2em rgb(53, 85, 135) inset;
-webkit-box-shadow: 0.2em 0.2em rgb(53, 85, 135) inset;
-moz-box-shadow: 0.2em 0.2em rgb(53, 85, 135) inset;
}

/* Clock Body */

.clock-container {
background-color: rgb(205, 224, 241);
width: 240px;
border-radius: 16px;
padding: 18px;

box-shadow: 7px 7px rgb(53, 85, 135);
}

/* Display + Stop/Start/Reset Controls */

#time-left {
font-size: 46px;
text-align: center;

color: black;
background-color: rgb(137, 177, 217);

padding: 13px;
border-radius: 15px;

box-shadow: 3px 3px rgb(76, 111, 157) inset;
}

#display-controls {
margin: 8px 0;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

#timer-label {
font-size: 18px;
text-align: center;
padding-top: 3px;

color: black;
background-color: rgb(137, 177, 217);

border-radius: 9px;
height: 30px;
flex: 2;

box-shadow: 3px 3px rgb(76, 111, 157) inset;
}

#timer-ssr {
flex: 1;
margin-left: 16px;
display: flex;
justify-content: space-between;
flex-start: end;
}

/* Timer Length Controls */

.length-container {
margin-top: 14px;
display: flex;
flex-direction: row;
}

.inc-dec-btn-container {
margin: 0 auto;
display: flex;
flex-direction: row;
justify-content: center;
width: 95px;
height: 48px;
}

.break-container,
.session-container {
text-align: center;

color: black;

border: 2px solid rgb(145, 183, 220);

padding: 7px;
border-radius: 9px;
width: 48%;
}

.timer-length {
font-size: 1.5em;
color: black;
}

.break-container,
.inc-arrow {
margin-right: 7px;
}
